@font-face {
    font-family: "miLetra";
    src: url("../assets/fonts/TiltNeon-Regular-VariableFont_XROT\,YROT.ttf");
}

body{
    overflow: hidden;
}

html{
    height: 100%;
}

html, body{
    margin: 0;
}

h1{
    font-family: 'miLetra';
    font-size: 2rem;
    color: #ffffff;
    text-shadow: 0 0 7px #0099ff;
    margin: 0;
    left: 5px;
    top: 95%;
    position: fixed;
}